@import url(https://fonts.googleapis.com/css?family=Roboto:300);

 
html body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.row {
  margin-top: 10px !important;
}

.tabs-content {
  height: 100%;
  overflow-y: scroll !important;
}

.login-page {
  padding: 8% 0 0;
  margin:auto;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  text-align: center;
  border-radius: 5%;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  display: block;
  margin-left:auto;
  margin-right: auto;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 0 auto 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 15px;
}

.form #loginButton{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFA76C;
  width: 30%;
  height: 80%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 15px;
  display: block;
  margin: 0 auto 10px;
}

.form #registerButton{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFFFFF;
    width: 50%;
    height: 80%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    display: block;
    margin: 0 auto 10px;
  }

  .form-listac {
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 5%;
    text-align: center;
    border-radius: 5%;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }

.form label {
    float: left;
}

.form-listac #lista_cursos .cbuton{
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFFFFF;
    width: 50%;
    height: 80%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px 5px;
    width: 100%;
    align-items: left;
}

.form-listac .title{
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFA76C;
    width: 50%;
    height: 80%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px 5px;
    width: 100%;
    align-items: left;
    color: #000000;
    text-decoration: none;
}

.form-listac .login-form #lista_tasks .tbuton{
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFFFFF;
    width: 50%;
    height: 80%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px 5px;
    width: 100%;
    align-items: left;
    color: #000000;
    text-decoration: none;
}

.form-listac .login-form #lista_tasks .vrbuton{
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFFFFF;
    height: 80%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px 5px;
    width: 100%;
    align-items: left;
    color: #000000;
    text-decoration: none;
}

nav .nav-wrapper a {
    font-size: medium;
    margin-left: 20px;
    color:#000000;
    font-size: 50%;
    align-items: center;
    align-content: center;
}

nav .nav-wrapper img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

body {
  background: #FFCC99;
}